<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">


    <a class="navbar-brand" href="#">
      <img src="../../../../assets/img/logo2.png" width="30" height="30" alt="" loading="lazy">
    </a>
    <a class="navbar-brand" href="#">Productos App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item " routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/home']" >Inicio</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['/productos']">Producto</a>
        </li>

      </ul>
      <ul class="navbar-nav ">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            data-target="" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <div class="navbar-login">
              <div class="row">
                <div class="col-lg-12 ">
                  <img src="../../../../assets/img/usuario.jpg" alt="ads via Carbon" class="responsive" border="0"
                    style="max-width: 105px;">
                    <p id="perfil"><strong>Camilo Garcia</strong></p>
                </div>
              </div>
            </div>
            <div class="dropdown-divider"></div>
        <li>
          <div class="navbar-login navbar-login-session">
            <div class="row">
              <div class="col-lg-12">
                <p>
                  <a href="#" class="btn btn-danger" (click)="salir()">Logout</a>
                </p>
              </div>
            </div>
          </div>
        </li>
    </div>
    </li>
    </ul>
  </div>
  </div>
</nav>
