.navbar-login
{
    width: 105px;
    padding: 20px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.dropdown-menu.show{
  width: 100px;
}

#perfil{
  width: 120px;
}
